@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import url('./prism.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.wrapper {
		@apply mx-auto max-w-3xl p-4 lg:max-w-6xl xl:max-w-7xl w-full;
	}
}

::selection {
	@apply bg-primary text-white;
}

code:not([class]) {
	padding: 2px 4px;
	font-size: 14px;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 5px;
}
